<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Contrat</title>
	<link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
	
</head>
<body>
<div class="container mt-4">
    <h1>Nouveau contrat pour 
        <span th:text="${agent.prenom + ' ' + agent.nom}"></span>
    </h1>
    
    <form th:action="@{/agents/{agentId}/contrats/save(agentId=${agent.id})}" 
          th:object="${contrat}" 
          method="post">
        
		  <!-- Champ Type Contrat -->
		   <!--  <div class="mb-3">
		         <label class="form-label">Type de contrat</label>
		         <input type="text" class="form-control" 
		                th:field="*{typecontrat}"
		                required>
		         <small class="text-danger" 
		                th:if="${#fields.hasErrors('typecontrat')}" 
		                th:errors="*{typecontrat}">Erreur validation</small>
		     </div>
			 -->
			 <!-- Nouvelle liste déroulante -->
			 <div class="mb-3">
			     <label class="form-label">Type de contrat</label>
			     <select class="form-select" th:field="*{typecontrat}" required>
			         <option value="" disabled selected>Sélectionnez un type...</option>
			         <option th:each="type : ${T(com.util.TypeDeContrat).values()}"
			                 th:value="${type}"
			                 th:text="${type.getLibelle()}"></option>
			     </select>
			     <small class="text-danger" 
			            th:if="${#fields.hasErrors('typecontrat')}" 
			            th:errors="*{typecontrat}">Erreur validation</small>
			 </div>
        
			 <div class="mb-3">
            <label class="form-label">Date de début</label>
            <input type="date" class="form-control" 
                   th:field="*{datedebutcontrat}" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Date de fin (optionnel)</label>
            <input type="date" class="form-control" 
                   th:field="*{datefincontrat}">
        </div>
        
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a th:href="@{/agents/{agentId}/contrats(agentId=${agent.id})}" 
           class="btn btn-secondary">Annuler</a>
		   
		   
		    
    </form>
</div>
</body>
</html>